@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Seus estilos personalizados vêm depois */
body {
  font-family: "Inter", sans-serif;
}

.rdp-root {
  --rdp-accent-color: #0d9488; /* Cor principal (teal-600) */
  --rdp-background-color: #f0fdfa; /* Cor de fundo para hover e range (teal-50) */
  --rdp-accent-color-dark: #115e59; /* Cor mais escura para hover */
  --rdp-selected-color: #ffffff; /* Cor do texto em dias selecionados */

  --rdp-cell-size: 40px;
  --rdp-caption-font-size: 1rem;
  --rdp-nav-button-size: 40px;
}

.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
  color: #0d9488; /* Cor para o dia de hoje */
}

/* Adicionando estilos para o DatePicker em modo escuro */
.dark .rdp-root {
  --rdp-accent-color: #2dd4bf; /* teal-400 */
  --rdp-background-color: #3f3f46; /* zinc-700 */
  --rdp-accent-color-dark: #14b8a6; /* teal-500 */
  --rdp-selected-color: #18181b; /* zinc-900 */
}

.dark .rdp-caption_label,
.dark .rdp-head_cell,
.dark .rdp-day,
.dark .rdp-nav_button {
  color: #d4d4d8; /* zinc-300 */
}

.dark .rdp-day_today:not(.rdp-day_outside) {
  color: #2dd4bf; /* teal-400 */
}
